.home_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  height: calc(100vh - 70px);
  width: 100vw;
}
.users_container {
  margin-top: 20px;
  overflow-y: auto;
  transition: all 0.3s;
}
.user_wrapper {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.user_wrapper:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  background: linear-gradient(20deg, #2894f1, #ff75cf);
}
.user_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_detail {
  display: flex;
  align-items: center;
}
.user_detail h4 {
  margin-left: 10px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--color-4);
}
.user_status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.online {
  background: #34eb52;
}
.offline {
  background: var(--color-5);
}
.messages_container {
  width: 100%;
  position: relative;
}
.messages_user {
  height: 60px;
  background: linear-gradient(to top,  rgb(19, 19, 19) 50%, #535353 50%);
  padding:10px;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   box-shadow: 0 0 10px #000;
   border-bottom: 2px solid var(--color-6);
}
.no_conv {
  font-size: 20px;
  color: rgb(49, 49, 49);
  background: linear-gradient(to top,  rgb(19, 19, 19) 50%, #535353 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.message_form {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 100%;
  /* height: calc(100vh - 800px); */
  display: flex;
  margin-bottom: -40px;
  align-items: center;
}
.message_form input {
  box-shadow: 0 0 30px #000;
  width: 45vw;
  margin: 0px 20px 20px 10px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.message_form button {
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 19px;
  background-color: rgb(49, 49, 49);
}
.message_form input[type="text"]{
  height:35px;
  margin-top: 15px;
  font-size: 25px;
}
.message_form input[type="text"]::placeholder{
  font-weight: normal;
  font-size: 25px;
  color:#000;
}
.message_form input[type="text"]:focus::placeholder{
  position: absolute;
  font-size: 0px;
  transform: translateY(-13px);
}
.message_form .btn {
  margin-top: -10px;
  background-color: rgb(49, 49, 49);
}
.messages {
  padding:15px;
  height: calc(100vh - 210px);
  box-shadow: 0px 0px 10px rgb(0, 2, 3);
  overflow-y: auto;
}
.message_wrapper {
  margin-top: 5px;
  padding: 0px 5px;
}
.message_wrapper img {
  width: 100%;
  border-radius: 5px;
}
.message_wrapper p {
  padding: 10px;
  display: inline-block;
  max-width: 50%;
  text-align: left;
  border-radius: 5px;
}
.message_wrapper small {
  display: inline-block;
  margin-top: 15px;
  opacity: 0.8;
}
.message_wrapper.own {
  text-align: right;
}
.me {
  background: linear-gradient(10deg, #1b92fa, #f54dba);
  color: white;
}
.friend {
  background: var(--color-6);
}
.selected_user {
  background: transparent;
}
.truncate {
  font-size: 14px;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate strong {
  margin-right: 10px;
}
.unread {
  margin-left: 10px;
  background: var(--color-3);
  color: white;
  padding: 2px 4px;
  border-radius: 10px;
}
.sm_screen {
  display: none;
}
@media screen and (max-width: 767px) {
  .home_container {
    grid-template-columns: 2fr 3fr;
  }
  .message_form {
    left: 3%;
    right: 0;
    bottom: 5px;
  }
  .message_wrapper p {
    max-width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .home_container {
    grid-template-columns: 1fr 5fr;
  }
  .user_wrapper {
    display: none;
  }
  .sm_container {
    padding: 10px 0px;
    text-align: center;
    cursor: pointer;
  }
  .sm_screen {
    display: inline-block;
  }
  .message_form input {
    width: 50vw;
    margin: 0px 10px;
  }
  .message_form .btn {
    margin: 0px;
  }

  .message_wrapper p {
    max-width: 100%;
  }
}