.error {
    text-align: center;
    color: #fe0202;
  } 

  .Login{
    margin:0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content:center;
    
  }
  .login_container{
      text-align: center;
  }
  .login_text{
    color:#fff;
    letter-spacing: 1px;
    margin: 10px;
    font-size:25px;
  }
  .login_page{
    min-height: 45vh;
    width:350px;
    background: #fff;
    border-radius: 10px;
    padding-bottom:25px;
  }
  .login_title{
    color: rgb(27, 27, 27);
    padding:30px 0;
    text-transform:capitalize;
    font-size:25px;
  }
  .form{
    width:75%;
    display: flex;
    flex-direction: column;
    position: relative;
    left:50%; 
    transform: translate(-50%);
  }
  .form input{
    margin-bottom:5px;
    border:1px solid rgba(0,0,0,0.4);
    border-radius:3px;
    outline:none;
  }
  .form input:focus{
    border:1px solid rgba(0,0,0,0.7);
    background: #efefef;
  }
  .form  input[type="email"],
  input[type="text"],
  input[type="password"]{
     padding-left:10px ;
     position: relative;
     height:35px;
     font-size: 17px;
  }
  .form  input::placeholder{
    font-weight: normal;
    font-size: 13px;
    transition: 0.3s ease;
  }
   .form input:focus::placeholder{
    position: absolute;
    font-size: 10px;
    transform: translateY(-13px);
  }
  .form button{
    border:none;
    background:#043fff;
    padding: 5px 0;
    margin-top: 5px;
    color:#fff;
    border-radius: 3px;
    font-weight:bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    outline:none;
    cursor: pointer;
  }
  .form button:active{
    background:#2c58fe;
    transform: scale(0.995);
  }
  .signup{
    position: relative;
    justify-items: center;
    border: 1px solid #727272;
    border-radius: 2px;
    width: 80%;
    left:50%;
    transform: translateX(-50%);
    margin-top: 25px;
    padding-bottom: 15px;
  }
  .signup a{
     text-decoration: none;
     margin-left: 5px;
     color:#008aff;
     font-weight:bold;
     margin-bottom: 5px;
  }
  .signup p{
    color:black;
  }
  @media screen and (min-width: 576px) {
    .login_container{
      text-align: center;
  }
    .Login{
      max-height: 100vh;
  }
  .login_page{
    min-height: 15vh;
    width:350px;
  }
  }
  @media screen and (min-width: 400px) {
    .login_container{
      text-align: center;
  }
    .Login{
      min-height: 100vh;
  }
  .login_page{
    min-height:10vh;
    width:350px;
  }
  }